body {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.navbar {
  z-index: 10;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: last baseline;
  width: 100vw;
  height: 60px;
  background-color: white;
  border: 5px solid transparent;
  background: linear-gradient(to bottom, #00acee, #0be6e6) padding-box,
    linear-gradient(to bottom, #00acee, #0be6e6) border-box;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}
.div-logo {
  margin-right:100px ;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
}
.div-buscar {
  display: flex;
  position: relative;
}
.div-buscar input {
  padding-right: 25px;
  height: 25px;
  width: 35vw;
  border-radius: 2px;
  background-color: rgba(255, 254, 254, 0.671);
  transition: background-color 0.2s ease;
  border: 1px solid transparent;
  outline: none;
}
.div-buscar input:focus {
  background-color: white;
}
.div-buscar input::placeholder {
  color: gray;
  transition: color 0.2s ease;
}
.div-buscar input:focus::placeholder {
  color: black;
}
.div-lupa {
  position: absolute;
  right: 10px;
  top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 100;
}
.lupa {
  width: 20px;
  height: 20px;
  position: absolute;
  fill: #aaa;
  transition: transform 0.3s ease;
}
.lupa:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.lupa svg {
  fill: #999;
}
.lupa:hover svg {
  fill: #333;
}
.sidebar {
  z-index: 9;
  padding-top: 69px;
  display: block;
  position: fixed;
  background-color: whitesmoke;
  height: 100vh;
  width: 20vw;
  border-right: solid 1px #b3b3b3;
}

.div-sidebar-materiais {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  text-align: center;
}
.div-sidebar-materiais a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: black;
  text-decoration: none;
}
.div-sidebar-materiais a:hover {
  background-color: white;
}
.div-sidebar-materiais a:focus {
  background-color: #ebe7f8;
}
.div-sidebar-inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  text-align: center;
}
.div-sidebar-inicio a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: black;
  text-decoration: none;
}
.div-sidebar-inicio a:hover {
  background-color: white;
}
.div-sidebar-inicio a:focus {
  background-color: #ebe7f8;
}
.div-sidebar-calc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  text-align: center;
}
.div-sidebar-calc a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: black;
  text-decoration: none;
}
.div-sidebar-calc a:hover {
  background-color: white;
}
.div-sidebar-calc a:focus {
  background-color: #ebe7f8;
}
.conteudo-inicial {
  z-index: 8;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  left: 210px;
  right: 0;
  top: 65px;
  height: calc(100vh - 65px);
  width: calc(100vw - 211px);
}
.div-inicio-matepratica {
  display: flex;
  position: relative;
  margin: 40px 70px;
}
.div-inicio-matepratica p {
  font-size: 38px;
  color: rgba(0, 0, 0, 0.877);
  font-weight: 100;
  text-decoration: none;
}
.div-links-container1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-left: 70px;
}
.div-inicial-material {
  display: flex;
  background-color: #444444;
  border-radius: 4px;
  height: 35px;
  width: 160px;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.05s ease;
}
.div-inicial-material:hover {
  cursor: pointer;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.22);
  transform: translateY(-0.5px);
}
.div-inicial-material a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: white;
  text-decoration: none;
  margin: 10px;
}
.div-inicial-calculadora {
  margin-right: 50px;
  display: flex;
  background-color: #4d80e4;
  border-radius: 5px;
  height: 35px;
  width: 160px;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.05s ease;
}
.div-inicial-calculadora:hover {
  cursor: pointer;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.22);
  transform: translateY(-0.5px);
}
.div-inicial-calculadora a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  margin: 10px;
  height: 100%;
  width: 100%;
}
.conteudo-materias {
  z-index: 8;
  position: relative;
  display: none;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  left: 210px;
  right: 0;
  top: 65px;
  height: calc(100vh - 65px);
  width: calc(100vw - 211px);
}
